* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main_div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5891a4;
}
.base {
  display: grid;
  grid-template-columns: repeat(12, 8%);
  gap: 5px;
  height: 340px;
  width: 80%;
  background-color: #262c2c;
  padding: 40px 20px;
  border-radius: 10px;
}
button {
  color: #5891a4;

  background-color: #2d3538;
  padding: 10px 15px;
  text-align: center;
  border-radius: 10px;
}
button:hover {
  background-color: #25292b;
}

button:active {
  background-color: #25292b;
}
.line0,
.line1,
.line2,
.line3,
.line4 {
  height: 60px;
}
#enter,
#shift {
  grid-column: 11 / span 2;
}
#space {
  grid-column: 5 / span 4;
}
